.feature-name{
    font-weight: bold;
    font-size:18px
    }
  
    .feature-price{
      color: #1cc3b2;
    }
   
    .feat-img {
      opacity: 1;
      display: block;
      transition: .5s ease;
      backface-visibility: hidden;
    }

    
    .feature-images .feat-img{
      -webkit-transition-duration: 500ms;
      -o-transition-duration: 500ms;
      transition-duration: 500ms;
      border-radius: 6px;
    }
    
    .feature-images:hover .feat-img {
      background-color: #0e2737;
      -webkit-transform: scale(.95);
      -ms-transform: scale(.95);
      transform: scale(.95);
    }
    
  

   
  

    @media only screen and (max-width: 767px) {
      #feature-section .col-md-4{
        width: 100%;
        text-align: center;
      
      }

      .feat-img{
        width: 650px !important;
      }
      
      }
