.single-studio-gallery{
    width:100%;
    padding-bottom:25px;
   
}

.image-gallery-image > img{
  height:500px !important;
  width: 100%;

}
.image-gallery-thumbnail-inner > img{
    height:50px !important;
    width: 100%;
}

.image-gallery-thumbnail-inner{
    height:50px !important;
    
}

.contact-btn{
    margin:20px;
}

.select-book-time{
    font-size: .8em;
}

.add-time:hover{
   cursor: pointer;
}
   
@media only screen and (max-width: 1000px) {
    .single-studio-gallery{
        width:100%;
        padding-bottom:25px;
    }
    .image-gallery-thumbnails {
       display:none;
    }


    }

  