.single-studio-gallery{
    width:100%;
    padding-bottom:25px;
}

.image-gallery-image{
  height:500px !important;
  width: 100%;

}
.image-gallery-thumbnail-inner{
    height:50px !important;
    width: 100%;
}
   
@media only screen and (max-width: 1000px) {
    .single-studio-gallery{
        width:100%;
        padding-bottom:25px;
    }

.image-gallery-image{
    height:200px;
    width: 100%;
  
  }
  .image-gallery-thumbnail-inner{
      height:200px;
      width: 100%;
  }
    }

    @media only screen and (max-width: 500px) {
        .single-studio-gallery{
            width:50%;
            padding-bottom:25px;
        }

.image-gallery-image{
    height:200px;
    width: 100%;
  
  }
  .image-gallery-thumbnail-inner{
      height:200px;
      width: 100%;
  }
        }