.single-studio-gallery{
    width:100%;
    padding-bottom:25px;
   
}

.image-gallery-image > img{
  height:500px !important;
  width: 100%;

}
.image-gallery-thumbnail-inner > img{
    height:50px !important;
    width: 100%;
}

.image-gallery-thumbnail-inner{
    height:50px !important;
    
}
.image-gallery-fullscreen-button::before {
    content: "View More" !important;
    font-size: 25px;
    border: solid 3px #1cc3b2;
    font-family: sans-serif;
}
.contact-btn{
    margin:20px;
}
.sh-text{
    color: #1cc3b2;
}
.select-book-time{
    font-size: .8em;
    border: solid 1px #0e2737;
  
}

.select-book-time-group{
    padding-bottom:25px;
    width:100%;
}

.add-time:hover{
   cursor: pointer;
}

.add-time{
   padding-bottom:25px;
 }

 .error{
     color:red;
    
 }
   
@media only screen and (max-width: 1000px) {
    .single-studio-gallery{
        width:100%;
        padding-bottom:25px;
    }
    .image-gallery-thumbnails {
       display:none;
    }


    }

  