p {
    font-family: Lato;
  }
  .bg-custom-light a {
    color: #fff!important;
  }
  .bg-custom-light {
      background-color:#0e2737;
    }
  
    .navbar-nav {
      position:fixed;
      top:7%;
      left: -150px;
      width:150px;
      -moz-transition:all 200ms ease-in;
      -webkit-transition:all 200ms ease-in;
      -o-transition:all 200ms ease-in;
      transition:all 200ms ease-in;
      height: 100vh;
  }
  
  .open .navbar-nav {
    left: 0;
  }